# Chapter 3 Built-in Data Structures, Functions, and Files

## 3.1 Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [7]:
tup[1].append(3)

In [8]:
tup

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4, 5, 6)

In [14]:
a, b, c = tup

In [15]:
b

5

In [16]:
tup = 4, 5, (6, 7)

In [17]:
a, b, (c, d) = tup

In [18]:
d

7

In [19]:
a, b = 1, 2
b, a = a, b

In [20]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [21]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1, 2, 3, 4, 5
values

(1, 2, 3, 4, 5)

In [24]:
a, b, *rest = values
rest

[3, 4, 5]

In [26]:
a, b, *_ = values

In [28]:
a = 1, 2, 2, 2, 2, 3, 4
a.count(2)

4

In [29]:
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [30]:
gen = range(10)
gen

range(0, 10)

In [31]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [34]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'red', 'bar', 'baz', 'dwarf']